/**/
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.telaInOut{ /*Zona da calculadora inteira (desde o <p> da Nota; até o <p> da A média é;)*/
    display: flex;
    flex-direction: column;
    gap: .625rem;
}






